html {
  font-family: "Open Sans";
  position: relative;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.highlight{
  background-color: rgba(0, 0, 0, .5)

}
.banner {
  position: center;
  text-align: left;
  max-height: 500px;
  bottom: 0;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 4rem;
  line height: 1.5;
  font-weight: bold;
  width: 50em;
  color: #fff;
}

.img-flex {
  position: absolute;
  top: 90%;
  left: 40%;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  transform: translate(-50%, -15%);
}
