html {
  font-family: "Open Sans";
}

*, *::before, *::after {
  box-sizing: inherit;
}

.highlight{
  background-color: #808080;
}
.banner {
  position: relative;
  text-align: left;
  max-height: 500px;
}

.banner-content {
  padding: absolute;
  top: 50%;
  left: 10%;
  font-size: 4rem;
  line height: 1.5;
  font-weight: bold;
  width: 50em;
}

.img-flex {
  display: block;
  width: 50em;
  position: absolute;
  top: 90%;
  left: 40%;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

h2 {
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
}
