html {
  font-family: "Open Sans";
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
}

.highlight{
  display: inline;
}

.banner {
  position: relative;
  text-align: left;
  max-height: 500px;
  overflow: hidden;

}
span {
  display: inline;
  background-color: rgba(0, 0, 0, .5);
}

.banner-content {
  position: absolute;
  top: 4px;
  left: 50%;
  font-size: 4rem;
  line height: 1.5;
  font-weight: bold;
  width: 100%;
  color: #fff;
  line-height: 1.4;
  margin: 0;
  transform: translateX(-50%);
}

p{
    margin: 1.2rem;
    text-align: left;
    padding-bottom: 0;
}
.img-flex {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 85em) {

  .banner-content {
    max-width: 50em;
    position: absolute;
    left: 54%;
    transform: translateX(-50%);
    bottom: 1.5em;
  }
}
